<div id="cardTitle">
	<p style="color:#999">当前位置：我的购物车</p>
</div>

<div ng-init="findAll();">
	<ul ng-model="cards">
		<li ng-repeat="card in cards" style="list-style-type: none">
			<div id="cards">
				<div><input type="checkbox" class="cardbox" value="{{card.cardID}}"></div>
				<div>{{card.name}}({{card.norms}})</div>
				<div>{{card.tip}}</div>
				<div>售价：{{card.price}}</div>
				<div>数量：{{card.amount}}</div>
				<div>总价：{{card.sum}}</div>
				<div><a class="btn" ng-click="deleteCard(card);"><span class="glyphicon glyphicon-remove"></span>删除</a></div>
			</div>
		</li>
	</ul>
</div>

<div id="cardCal">
	<div ><a class="btn btn-danger" style="color:#fff" ng-click="goToPay();">结算</a></div>
</div>